openapi: 3.0.0
info:
  title: Dust Agents Feedbacks API
  version: 1.0.2
  description: Manage Dust agent configurations — list, retrieve, update, archive, search, and export agents as YAML.
  contact:
    name: Dust Support
    url: https://docs.dust.tt
  license:
    name: MIT
    url: https://github.com/dust-tt/dust/blob/main/LICENSE
servers:
- url: https://dust.tt
  description: Dust.tt API (us-central1)
- url: https://eu.dust.tt
  description: Dust.tt API (europe-west1)
tags:
- name: Feedbacks
  description: Message feedbacks
paths:
  /api/v1/w/{wId}/assistant/conversations/{cId}/feedbacks:
    get:
      summary: Get Feedbacks for a Conversation
      description: 'Retrieves all feedback entries for a specific conversation.

        Requires authentication and read:conversation scope.

        '
      tags:
      - Feedbacks
      parameters:
      - name: wId
        in: path
        description: Workspace ID
        required: true
        schema:
          type: string
      - name: cId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      security:
      - BearerAuth: []
      responses:
        '200':
          description: List of feedback entries for the conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  feedbacks:
                    type: array
                    items:
                      type: object
                      properties:
                        messageId:
                          type: string
                          description: ID of the message that received feedback
                        agentMessageId:
                          type: number
                          description: ID of the agent message
                        userId:
                          type: number
                          description: ID of the user who gave feedback
                        thumbDirection:
                          type: string
                          enum:
                          - up
                          - down
                          description: Direction of the thumb feedback
                        content:
                          type: string
                          nullable: true
                          description: Optional feedback content/comment
                        createdAt:
                          type: number
                          description: Timestamp when feedback was created
                        agentConfigurationId:
                          type: string
                          description: ID of the agent configuration
                        agentConfigurationVersion:
                          type: number
                          description: Version of the agent configuration
                        isConversationShared:
                          type: boolean
                          description: Whether the conversation was shared
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Conversation not found
        '500':
          description: Internal server error
  /api/v1/w/{wId}/assistant/conversations/{cId}/messages/{mId}/feedbacks:
    post:
      summary: Submit Feedback for a Specific Message in a Conversation
      description: 'Submit user feedback (thumbs up/down) for a specific message in a conversation.

        Requires authentication and update:conversation scope.

        '
      tags:
      - Feedbacks
      parameters:
      - name: wId
        in: path
        description: Workspace ID
        required: true
        schema:
          type: string
      - name: cId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: mId
        in: path
        description: Message ID
        required: true
        schema:
          type: string
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - thumbDirection
              properties:
                thumbDirection:
                  type: string
                  enum:
                  - up
                  - down
                  description: Direction of the thumb feedback
                feedbackContent:
                  type: string
                  description: Optional feedback text content
                isConversationShared:
                  type: boolean
                  description: Whether the conversation is shared
      responses:
        '200':
          description: Feedback submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Invalid request parameters or body
        '401':
          description: Unauthorized
        '404':
          description: Conversation or message not found
    delete:
      summary: Delete Feedback for a Specific Message
      description: 'Delete user feedback for a specific message in a conversation.

        Requires authentication and update:conversation scope.

        '
      tags:
      - Feedbacks
      parameters:
      - name: wId
        in: path
        description: Workspace ID
        required: true
        schema:
          type: string
      - name: cId
        in: path
        description: Conversation ID
        required: true
        schema:
          type: string
      - name: mId
        in: path
        description: Message ID
        required: true
        schema:
          type: string
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Feedback deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '404':
          description: Conversation, message or feedback not found
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Your DUST API key is a Bearer token.
